body {
	font-size: 16px;
	font-family: Arial, sans-serif;

	background-color: black;
}

#wrapper {
	background: url("../img/stars1600.jpg") no-repeat center top;
	width: 1280px;
	margin: 0 auto;
	margin-left: auto;
    margin-right: auto;
}

#timer {
	font-size: 56px;
	margin: 1px auto;
	width: 500px;
	height: 56px;
	text-align: center;
	color: #03a9f4;
}
#site-logo {
	text-align: center;
    color: azure;
    margin-bottom: 3px;
    font-size: 2.5em;
    padding-top: 125px;
    font-weight: bold;
}
#site-logo2 {
	text-align: center;
    color: azure;
    margin-bottom: 3px;
    font-size: 1.2em;
    padding-top: 1px;
}

@-webkit-keyframes spinnow {
    100% {
     transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	-o-transform: scale(2, 2);
    }
}
@-moz-keyframes spinnow {
    100% {
     transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	-o-transform: scale(2, 2);
    }
}
@-ms-keyframes spinnow {
    100% {
     transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	-o-transform: scale(2, 2);
    }
}

.box1 {
	width: 100px ;
	height: 100px ;
	margin-left: 1000px ;
	margin-right: auto ;
	position:absolute;
}
.box2 {
	width: 100px ;
	height: 100px ;
	margin-left: 1000px ;
	margin-right: auto ;
	position:absolute;
	/*=== transition: all 10s ease; ===*/
	animation: 4s ease-in-out spinnow infinite;
	animation-direction: alternate;
}
.box2:hover {
	 transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	-o-transform: scale(2, 2);
}
.box3 {
	width: 80px ;
	height: 80px ;
	margin-left: 100px ;
	margin-top: 100px ;
	position:relative;
	transition: all 2s ease;
}
.box3:hover {
	 transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
}
.box4 {
	width: 80px ;
	height: 80px ;
	margin-left: 500px ;
	position:relative;
	transition: all 2s ease;
}
.box4:hover {
	 transform: scale(1.9, 1.9);
	-moz-transform: scale(1.9, 1.9);
	-ms-transform: scale(1.9, 1.9);
	-webkit-transform: scale(1.9, 1.9);
	-o-transform: scale(1.9, 1.9);
}

footer {

    text-align: center;
	background-color: #ffffff;
	height: 85px;
	margin-top: 303px;
}
#line {
	height: 10px;
	border-bottom: 0.25em solid white;
}
#finally {
	margin-top: 35px;
	display: inline-block;
}




